@charset "UTF-8";
/*===============================================
  仮設定部分　（index完成後に合わせる）
=================================================*/
html {
	font-size: 62.5%;
}
.header {
	background-color: #ffff;
	width: 100vw;
	height: 75px;
	position: fixed;
	top: 0;
}

.bn-cta {
		width: 270px;
		height: 53px;
		position: absolute;
		top: 75px;
		right: 14.6vw;
		background-color: #f0950c;
	}
	.bn-cta p {
	color: white;
	font-size: 1.3rem;
	text-align: center;
	margin: 0 auto;
	}


	.footer {
		background-color: #f0950c;
		height: 500px;
	}


/*===============================================
 下層共通設定
=================================================*/
body {
	font-family: "Yu Gothic", YuGothic, Helvetica, Arial,
	"Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3",
	Meiryo, メイリオ, sans-serif;

	color: #4b4b4b;
	letter-spacing: 0.07em; 	/*←ryutoppiaと同じ */
	line-height: 1.65;
	background-color: #fffffe;
	}

	section {
		margin: 0 auto;
	}

img {
	width: 100%;
}

	/* ホバー設定 */
a {
		display: inline;
		font-size: 1.8rem;
		color: #4b4b4b;
		line-height: 1.2;
		border-bottom: solid 1px #4b4b4b;
		transition: all 0.2s ease 0s;
		cursor: pointer;
		margin-top: 10px;
	}
	a.inline {
		margin-top: 0;  /* 文章内リンクの余白打ち消し*/
	}

a:link {
	color: #4b4b4b;
	border-bottom: solid 1px #4b4b4b;
}

a:visited {
	color: #878787;
	border-bottom: solid 1px #878787;
}

a:hover {
	color: #f0950c;
	border-bottom: none;
	transition: all 0.2s ease 0s;
}
a:active {
	color: #f0950c;
	border-bottom: none;
}

iframe {
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
	width: 100%;
	height: 450px;
}

	/*見出し共通設定 */
	h2, h3, h4 {
		font-family: "Yu Gothic";
		font-weight: bold;
		color: #3a3838c7;
		letter-spacing: 0.15em;

	}


	/* メニュータイトル */
	#m-ttl {
		width: 100vw;
		height: 96px;
		margin: 0 auto;
		margin-top: 75px;
		background-color: #fceee1;
		padding-top: 27px;
		padding-left: 14.6vw;
	}

	h2 {
		display: inline;
		padding: 0.2em;/*文字周りの余白*/
		font-size: 2.7rem;
		background-color: #fceee1;
		border-bottom: solid 2px #e29d5d;
	}

	/* 中見出し */
	h3 {
		font-size: 2.5rem;
		padding: 25px 0 10px 0;
		margin-left: -34px; 	/*icon位置調整 */
	}

	h3:before {
		content: '●';
		color: #f0950c;
		margin-right: 8px;
		font-size: 1.3em; /*iconサイズ調整*/
	}

	/* 小見出し */
	h4 {
		font-size: 2.3rem;
		margin: 10px 0 15px 0;
		padding: 0 0.5em;/*文字周りの余白*/
		border-left: solid 5px #f0950c;/*左線（実線 太さ 色）*/
	}

	h5 {
		font-size: 2.0rem;
		font-weight: bold;
		padding-bottom: 0px;
		padding-top: 25px;
	}

	h6 {
		font-size: 2.0rem;
	}

	.shikaku:before {
		border-left: 0px;
		content: '■';
		color: #fceee1;
		margin-right: 8px;
		font-size: 0.8em; /*iconサイズ調整*/
	}

 /* 赤字 */
	.red {
		color: #b41f02;
	}


	/* 基本文 */
	p {
		font-size: 1.8rem;
		color: #4b4b4be0;
		letter-spacing: 0.12em;
		padding: 10px 6px;

	}
	/* 本文（小） */
	p.small {
		font-size: 1.3rem;
		padding: 3px 14px;
	}
	.small {
		font-size: 1.5rem;

	}
	/* 本文（中） */
	p.large {
		font-weight: bold;
		font-size: 2.0rem;
		padding-bottom: 0px;
	}


/* 下層メインコンテンツ */
.main {
	width: 70.3vw;	/* width: 960px; */
	margin: 40px auto;
	margin-bottom: 100px;
}
	/*編みかけ部分*/
 .wrap {
	background-color: #fceee1;
	border-radius: 5px;
	padding: 20px 40px;
	margin: 15px;
	/* max-width: 680px; */
}

.m-wrap {
	margin-bottom: 60px;
}

.s-wrap {
	margin-top: 20px;
	padding-bottom: 30px;
}

.text-wrap {
	margin-top: 20px;
	padding-bottom: 20px;
}
/*２カラム*/
.two-column {
  display: flex;
  flex-wrap: wrap;
	justify-content: space-between;
}

}
.column {
  width: 100%;
}

/*ボタンデザイン*/
.btn {
	color: #fff;
	text-align: center;
	letter-spacing: 0.3em;
	line-height: 3;
	background: #b41f02;
	padding: 0 20px;
	height: 45px;
	border-radius: 10px;
	border-bottom: solid 4px #580f01;
	font-size: 1.3rem;
	font-weight: bold;
	display: block;
	margin: 18px auto;
	min-width: 150px;
	max-width: 180px;
	transition: all 0.25s;
}
.btn:hover{
  opacity: 0.6;
}
.btn:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

}
	@media (min-width: 1024px) {
	  .column {
	    width: calc(50% - 16.18px / 2)
	  }
	}
	@media (max-width: 767px) {
		iframe {
			height: 250px;
		}
		p.small {
			padding: 3px 10px;
		}
	}



/*===============================================
 　サイトマップ　sitemap.html
=================================================*/
#mousikomi,#tajitomo,.main,#koutsuaccess,#access,#news_1 {
	/* アンカーリンク遷移時ヘッダーの高さ分を指定 */
  padding-top: 75px;
  margin-top: -75px;
}
.sitemap h4 {
	border-left: none;
	padding-top: 20px;
	margin: 20px 0;
  border-top: 2px dotted #fceee1;
}

.sitemap p {
	padding: 0;
	font-size: 2.3rem;
}

.sitemap h4 {
	margin-left: -34px; 	/*icon位置調整 */
}

.sitemap h4:before {
	content: '■';
	color: #fceee1;
	margin-right: 8px;
	font-size: 0.8em; /*iconサイズ調整*/
}
.kasen {
	padding-top: 20px;
	margin: 20px 0;
  border-top: 2px dotted #fceee1;
	font-size: 2.3rem;

}

/*===============================================
 　お問い合わせ　question.html
=================================================*/
table {
  width: 100%;
  margin: 20px 0 0;

	border-collapse: collapse;
  border-spacing: 0;
}
th {
	width: 30%;
	text-align: center;
	font-size: 1.5rem;
	color: #4b4b4b;
  vertical-align: middle;
  background: #fceee1;
	border: 1px solid #f9e1c9;
}
 td {
	border: 1px solid #f9e1c9;
  padding: 25px 20px;
	font-size: 1.3rem;
	color: #878787;
 }

 input {
	 color: #4b4b4b;
	 font-size: 1.4rem;
 }

 .input_s {
	padding: 10px;
	border: 1px solid #ccc;
	width: 160px;
	margin-bottom: 10px;
}
 .input_m {
  padding: 10px;
	border: 1px solid #ccc;
  width: 220px;
}
.input_l {
	padding: 10px;
	border: 1px solid #ccc;
	width: 92%;
}
.textarea {
	padding: 10px;
	border: 1px solid #ccc;
	width: 92%;
	height: 130px;
}

#form_btn_wrap {
	text-align: center;
	margin: 30px 0;
}
#form_btn1 p {
	color: #fff;
}

#form_btn1 {
	display: inline-block;
	text-align: center;
	letter-spacing: 0.3em;
	line-height: 1;
	background: #b41f02;
	padding: 0 20px;
	height: 46px;
	border-radius: 10px;
	border-bottom: solid 4px #580f01;
	font-size: 1.6rem;
	font-weight: bold;
	color: #fff;
	margin: 0 10px 0 0;
	min-width: 230px;
	transition: all 0.25s;
}

#form_btn1:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.ad {
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 0.2rem;
	color: #ccc;
	font-weight: lighter;

}
.ad:link {
	border-bottom: none;
}

.ad:hover {
	color: #ccc;
	border-bottom: none;
	transition: all 0.2s ease 0s;
}
.ad:active {
	color: #ccc;
	border-bottom: none;
}
/*===============================================
 　施設一覧　institution-index.html
=================================================*/
/* フロア図の設定 */
#foor-zu h5.floortitle {
	width: 90%;
    font-size: 12px;
    line-height: 20px;
    border-top: 1px solid #f6c08d;
    border-bottom: 1px solid #f6c08d;
    padding: 3px 5px 3px 5px;
    color: #333;
}
#foor-zu h5.floortitle:nth-child(2) {
	border-top: none;
}
.floortitle .btn {
	margin: 18px auto 0px 0px;
}

#foor-zu {
	margin-top: 89px;
}
.reverse-row-order .content_b img {
	margin-top: 82px;
}

/* カラムの設定 */
.content_a {
	margin-top: 15px;
	width: 40%;
}
.content_b {
	width: 55%;
}
.content_b img {
	margin-top: 15px;
}
.content_c {
	width: 50%;
	text-align: center;
}

@media (max-width: 767px) {

}
/* 表の設定 */
#institution-index table {
	margin-top: 0;
}
#institution-index td {
	border-top: 1px dotted #f9e1c9;
	border-bottom: 1px dotted #f9e1c9;
	border-left: none;
	border-right: none;
}
#institution-index th {
	width: 45%;
	padding: 2px 5px;
}
#institution-index .shikaku:before {
	color: #f7c08d;
	margin-right: -5px;
	font-size: 0.8em; /*iconサイズ調整*/
}

#shiyou th,#shiyou td {
	border: 1px solid #f9e1c9

}
#shiyou th {
	width: 25%;
	letter-spacing: 4px;
}

#mini table {
width: 70%;
margin: 0 0 0 10px;
padding: 10px;
border: 1px solid #c5c3c3
border-collapse: collapse;
border-spacing: 0;
}
#mini th,#mini td{
text-align: center;
padding: 10px;
color: #4b4b4b;
vertical-align: middle;
background: #ffff;
border: 1px solid #c5c3c3;
}
#mini th{
font-size: 11px;
}

#mini td {
font-size: 1.5rem;
color: #878787;
width: 10%;

}
.orenge {
	color: #f0950c;
}


#largehall, #smallhall, #tennzishitsu_a, #tennzishitsu_b, #daikaigishitsu, #rennsyuushitsu1, #rennsyuushitsu2, #rennsyuushitsu3, #rennsyuushitsu4, #washitsu {
	/* アンカーリンク遷移時ヘッダーの高さ分を指定 */
  padding-top: 75px;
  margin-top: -75px;
}






/*===============================================
 　刊行物　tabunnet.html
=================================================*/
#tabunnet .large:before {
	content: '■';
	color: #fceee1;
	margin-right: 8px;
	font-size: 0.8em; /*iconサイズ調整*/
	border: none;
}
#tabunnet ul {
	margin-left: 5px;
	list-style: none;
}
#tabunnet li a{
	font-size: 14px;
}


/*===============================================
	 　会員制度　tajitomo.html
=================================================*/
#tajitomo h5 {
	color: #F57F00;
}

.qaContainer dt {
font-size: 1.8rem;
padding: 10px 10px 10px 35px;
border-radius: 5px;
background: #fceee1;
text-indent: -25px;
}
.qaContainer dt:before {
content: "Q.";
font-weight: bold;
margin-right: 7px;
}
.qaContainer dd {
font-size: 1.8rem;
margin: 20px 10px 40px 35px;
text-indent: -25px;
}
.qaContainer dd:before {
content: "A.";
color: #b41f02;
font-weight: bold;
margin-right: 7px;
}

#mousikomi #form_btn1 {
 height: 62px;
 line-height: 1.2;
}
#mousikomi table{
 border-collapse:collapse;
 padding: 20px 40px;
 margin: 20px 0;
 width: 650px;
}
#mousikomi td,th{
 border:1px solid #fceee1;
 padding:12px;
}
#mousikomi th{
 color:#4b4b4b;
}

/*===============================================
	交通アクセス　access.html
=================================================*/
#access td ,#access th {
 padding: 5px 10px;
}
#access .col-l {
 padding-top: 20px;
}

#access .col-r {
	text-align: center;
}

/*===============================================
　お知らせ　news.html
=================================================*/
.day {
	display: inline;
	padding: 5px;
	font-size: 0.5rem;
	color: #fff;
	background-color: #b41f02;
	border-radius: 5px;
}
.mark {
	font-size: 1.5rem;
	color: #fff;
	background-color: #F57F00;
	padding: 8px;
	border-radius: 5px;
	letter-spacing: 0.02em;
	margin-bottom: 5px;

}
ul {
	list-style: square;
	padding-top: 10px;/*リスト上の余白*/
  padding-bottom: 10px;/*リスト下の余白*/
	padding-left: 40px;
}
li {
	font-size: 1.6rem;
  color: #4b4b4be0;
  letter-spacing: 0.12em;
	padding: 3px;
}

.asterisk ul {


}
.asterisk li {
	list-style: none;
	font-size: 1.3rem;
}

.asterisk li:before {
	content:"※"
}


/*===============================================
　サービス・施設　service.html
=================================================*/
#service table {

}
#service table a {
	font-size: 1.5rem;
}

#service td {
	border: 1px solid #f9e1c9;
  padding: 25px 20px;
	font-size: 1.5rem;
	color: #4b4b4be0;
 }
#service td .small {
	font-size: 1.3rem;
}
#service th {
	border-bottom: 1px solid #f9e1c9;
	font-size: 1.8rem;
}

/*===============================================
　ご利用の流れ　use.html
=================================================*/
#use_1, #use_2, #use_3, #use_4, #use_5, #use_6, #use_7, #use_8, #use_9, #use_10 {
  padding-top: 75px;
  margin-top: -75px;
}


#use ol {
 list-style-type: decimal;
 overflow: hidden;
 padding-left: 20px;
}
li::marker {
  color: #F57F00;
}

#page_link li {
	font-size: 1.4rem;
	text-align: center;
	margin-right: 40px;
	float: left;
}
#page_link a {
	font-size: 1.4rem;
}

#use .btn {
	max-width: 260px;
	margin-top: 30px;
}
#use .kasen {
	border-top: none;
	border-bottom: 2px dotted #fceee1;
}
.yoyakushisutemu {
	letter-spacing: 2px;
	margin-bottom: 30px;
}
.center {
	text-align: center;
	margin: 0 auto;
}
#use .tel {
	width: auto;
	margin-top: 20px;
}

.cancel {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 30px;
}
.cancel td {
 color: #4b4b4b;
 padding: 15px 20px;
 font-size: 1.5rem;
}
.cancel th {
 border: 2px solid #f9e1c9;
 background-color: #F57F00;
 color: #ffff;
}

.fee_d {
	text-align: center;
}
.head th:nth-child(2) {
	background-color:  #b41f02;
	color: ;
}
#use_5 h6 {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 10px;
	margin-left: 60px;
}
#use_9 .wrap {
	text-align: center;
}
#use_9 .text-wrap {
	text-align: left;
	margin: 0 20px;
}

#btn2 .btn {
	max-width: 500px;
  font-size: 1.8rem;
  line-height: 2.6;
	letter-spacing: 0.2em;
  padding: 8px 20px;
  height: 65px;
	border: solid 2px #b41f02;
	background-color: #ffff;
	color: #b41f02;
}
#btn2 .btn p {
	margin-top: 0px;
}

#use_10 .wrap {
	text-align: center;
	padding-bottom: 38px;
}
#use_10 th, #use_10 td {
	background-color: #ffff;
	border: 1px solid #fceee1;

}

#use_10 .btn {
	max-width: 430px;
	margin-top: 50px;
}


/*===============================================
　イベント一覧　event.html
=================================================*/
.all_event h5 {
	color: #333;
	font-size: 2.0rem;
	margin-bottom: 30px;
}
.all_event dl dd {
	margin-top: -1.9em;
	padding: 0 0 10px 10.5em;
	text-indent: -1em;
	font-size: 1.4rem;
}
.all_event dl {
	margin-left: 20px;
}
#event table {
  border-collapse: separate;
  border-spacing: 10px 20px;

}

#event dt {
	color: #3a3838c7;
}

#event td {
	border: none;
	border-bottom: 1px dotted #fceee1;
	padding-right: 0;
}
#event td .btn {
	margin-top: 30px;
}
.tagu {
	color: #BE5152;
	border-radius: 16px;
	border: 1px solid #BE5152;
	padding: 5px 8px;
}


/*===============================================
PC : 画面の横幅が769px以上
=================================================*/
@media screen and (min-width: 768px){
	.sp-only {
		display: none;
	}
}
 .tel {
	width: 650px;
}








/*ここからメディアクエリで各デバイスサイズに書き分けます
CSSは上から下に継承されるので、変化させたいところだけ書けばOK*/



/*================================================
Tablet : 画面の横幅が768pxまで
==================================================*/
@media screen and (max-width: 768px){

}


/*================================================
Smartphone :  画面の横幅が640pxまで
=================================================*/
@media screen and (max-width:640px){
	h2 {
		font-size: 2.4rem;
	}
	h3 {
		font-size: 2rem;
		padding: 10px 0 10px 0;
    margin-left: -8px;
	}
	h3:before {
		margin-right: 3px;
		font-size: 1.2em;
	}
	h4 {
		 font-size: 1.9rem;
	}
  h5 {
	 font-size: 1.8rem;
 	}
	p {
		font-size: 1.5rem;
	}
	p.large{
		font-size: 1.8rem;
		letter-spacing: 0.01em;
	}
	.s-wrap {
		padding-bottom: 15px;
	}
	.m-wrap {
		margin-bottom: 15px;
	}
	.wrap {
		margin: 15px 0px;
		padding: 20px 5px 20px 10px;
	}
	.small {
		font-size: 1.2rem;
	}
	.main {
		width: 90.5vw;
	}
	.pc-only {
		display: none;
	}

	#m-ttl {
		padding-top: 27px;
		padding-left: 7vw;
	}
	.bn-cta {
	 right: 0;
	 top: 95px;
	 width: 45vw;
 }
 	.bn-cta p {
		font-size: 1rem;
	}

	table,tbody,tr,td,th {
		display: block;
		width: 100%;
	}
	th {
		padding-left: 10px;
		text-align: left;
	}
	/* tagiyomo-------------------- */

	#mousikomi table {
		width: 100%;
		padding: 5px;
	}
	#mousikomi th {
		font-size: 1.3rem;
		padding: 9px;
	}


	/* sitemap-------------------- */
	.sitemap h4 {
		margin-left: 0px;
	}
	.sitemap p {
		margin-left: 16px;
	}

 /* sitemap-------------------- */
	.tel {
		width: 100%;
	}

 /* access-------------------- */
	#access h2 {
		font-size: 1.8rem;
		line-height: 2.2;
		letter-spacing: 0.02em;
	}
	iframe {
		width: 100%;
	}
 .col-r {
	 padding-top: 5px;
	 width: 100%;
 }
 .col-l {
	 padding-top: 0px;
 }

  /* news-------------------- */
	#news ul {
		padding-top: 10px;/*リスト上の余白*/
	  padding-bottom: 10px;/*リスト下の余白*/
		padding-left: 15px;
	}
	#news li {
		font-size: 1.5rem;
	  letter-spacing: 0.08em;
		line-height: 1.4;
		padding: 5px 3px 5px 0px;
	}
	.mark {
		padding: 5px;
	}

	/* use-------------------- */
	.center {
		margin: 5px auto;
	}

	#use_5 table, #use_5 tr {
		width: 100%;
		display: table;

	}
	#use_5 th, #use_5 td {
		display: table-cell;
		width: 50%;
		text-align: center;
	}
	#use_5 h6 {
		margin: 0 auto;
		margin-bottom: 4px;
		text-align: center;
	}
 #use li {
	 font-size: 1.5rem;
 }
	#use ul {
		padding-left: 20px;

	}

	#use_9 .text-wrap {
		margin: 0 auto;
	}

	#use_9 h3 {
		letter-spacing: 0em;
	}
	#btn2 .btn {
  	line-height: 1.6;
  	padding: 8px 20px;
  	height: 80px;
		margin-top: 0px;
  }
	#use_10 .btn2 p{
		height: 65px;
		padding-top: 10px;
		line-height: 1.6;
	}

/* event-------------------- */
#event .main {
	width: 100%;
}
#event h3 {
	margin-left: 8px;
}
#event dl, #event dt, #event dd {
	display: block;

}
.all_event dl {
  margin-left: 0px;
}
.all_event dl dd {
	margin-top: -1.6em;
	padding: 0 0 0px 5em;
	text-indent: -1em;
	font-size: 1rem;
}
#event dt {
	font-size: 1rem;
	margin-left: 3px;
}

.all_event td {
	padding: 5px 0px;

}
#event .pc-only {
	display: none;
}

.all_event h5 {
    font-size: 1.3rem;
    padding-top: 2px;
		margin-bottom: 12px;
}

#event tbody, #event table, #event tr, #event th, #event td {
	display: revert;
}
.all_event th {
	padding: 0px;
	width: 30%;
}
#event td .btn {
	margin-top: 0px;
    line-height: 3;
    padding: 0 17px;
    height: 38px;
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    margin: 6px auto;
    min-width: 150px;
    max-width: 163px;
}

.tagu {
    font-size: 1rem;
    padding: 2px 4px;
		background-color: #fff;
}



/* institution-index-------------------- */
.content_a,.content_b,.content_c {
	width: 100%;
}
#institution-index .text-wrap {
	margin-top: 0;
}
#institution-index .sp-only {
	padding: 5px;
}


#institution-index th {
	padding: 0;
	width: 100%;
}

#institution-index td {
	padding: 10px 0px;
}

#shiyou th {
	width: 100%;
	text-align: center;
}
 #mini table {
	 display: table;
	 margin-left: 0;
	 width: 100%;
 }
 #mini tr {
	 display: table-row;
 }
 #mini th, #mini td {
	 display: table-cell;
	 width: 30%;
 }
	#mini td {
		width: 10%;
}
.tagu_wrap {
	text-align: center;
}
/* フロア図の設定 */
#foor-zu h5.floortitle {
	width: 100%;
		font-size: 12px;
		line-height: 20px;
		border-top: 1px solid #f6c08d;
		border-bottom: 1px solid #f6c08d;
		padding: 3px 5px 3px 5px;
		color: #333;
}
#foor-zu h5.floortitle:nth-child(2) {
	border-top: none;
}
.floortitle .btn {
	margin: 10px auto;
}

#foor-zu {
	margin-top: 0px;
}
.reverse-row-order .content_b img {
	margin-top: 0px;
}
#foor-zu td {
 padding: 6px 14px;
 font-size: 1.3rem;
}
.reverse-row-order {
flex-direction: column-reverse;
}




}
