@charset "UTF-8";

/*===============================================
 下層共通設定
=================================================*/
body {
	font-family: "Yu Gothic", YuGothic, Helvetica, Arial,
	"Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3",
	Meiryo, メイリオ, sans-serif;

	color: #4b4b4b;
	letter-spacing: 0.07em; 	/*←ryutoppiaと同じ */
	line-height: 1.65;
	background-color: #fffffe;
	}


	section {
		margin: 0 auto;
	}

	.red {
		color: rgb(255, 0, 0);
	}

	/* ホバー設定 */
a {
		display: inline-block;
		font-size: 18px;
		color: #4b4b4b;
		line-height: 1.2;
		border-bottom: solid 1px #4b4b4b;
		transition: all 0.2s ease 0s;
		cursor: pointer;
		margin-top: 10px;
	}
	a.inline {
		margin-top: 0;  /* 文章内リンクの余白打ち消し*/
	}

a:link {
	color: #4b4b4b;
	border-bottom: solid 1px #4b4b4b;
}

a:visited {
	color: #878787;
	border-bottom: solid 1px #878787;
}

a:hover {
	color: #f0950c;
	border-bottom: none;
	transition: all 0.2s ease 0s;
}
a:active {
	color: #f0950c;
	border-bottom: none;
}



	/*見出し共通設定 */
	h2, h3, h4 {
		font-family: "Yu Gothic";
		font-weight: bold;
		color: #3a3838c7;
		letter-spacing: 0.15em;

	}

	h3, h4 {


	}


	/* メニュータイトル */
	#m-ttl {
		width: 100vw;
		height: 96px;
		margin: 0 auto;
		margin-top: 75px;
		background-color: #fceee1;
		padding-top: 27px;
		padding-left: 14.6vw;
	}

	h2 {
		display: inline;
		padding: 0.2em;/*文字周りの余白*/
		font-size: 27px;
		background-color: #fceee1;
		border-bottom: solid 2px #e29d5d;
	}



	/* 中見出し */
	h3 {
		font-size: 25px;
		padding: 25px 0 10px 0;
		margin-left: -34px; 	/*icon位置調整 */
	}

	h3:before {
		content: '●';
		color: #f0950c;
		margin-right: 8px;
		font-size: 1.3em; /*iconサイズ調整*/
	}

	/* 小見出し */
	h4 {
		font-size: 23px;
		margin: 10px 0 5px;
		padding: 0 0.5em;/*文字周りの余白*/
		border-left: solid 5px #f0950c;/*左線（実線 太さ 色）*/
	}

　li:first-child {　 	/* 小見出しの１つ目だけ余白を大きく*/
		margin-top: 35px;
	}

	h5 {
		font-size: 20px;
		font-weight: bold;
		padding-bottom: 0px;
	}
	h5:before {
		content: '■';
		color: #fceee1;
		margin-right: 8px;
		font-size: 0.8em; /*iconサイズ調整*/
	}


	/* 基本文 */
	p {
		font-size: 18px;
		color: #4b4b4be0;
		letter-spacing: 0.12em;
		padding: 10px 14px;

	}
	/* 本文（小） */
	p.small {
		font-size: 13px;
		padding: 3px 14px;

	}
	/* 本文（中） */
	p.large {
		font-size: 20px;
		padding-bottom: 0px;
	}


/* 下層メインコンテンツ */
#main {
	width: 70.3vw;	/* width: 960px; */
	margin: 40px auto;
	margin-bottom: 100px;
}

.m-wrap {
	margin-bottom: 60px;
}

.s-wrap {
	margin-top: 20px;
	padding-top: 20px;
}

/*===============================================
 　サイトマップ　saitemap.html
=================================================*/
#mousikomi,#tajitomo,#main {
	/* アンカーリンク遷移時ヘッダーの高さ分を指定 */
  padding-top: 75px;
  margin-top: -75px;
}
.saitemap h4 {
	border-left: none;
	padding-top: 20px;
	margin: 20px 0;
  border-top: 2px dotted #fceee1;
}

.saitemap p {
	padding: 0;
	font-size: 23px;
}

.saitemap h4 {
	margin-left: -34px; 	/*icon位置調整 */
}

.saitemap h4:before {
	content: '■';
	color: #fceee1;
	margin-right: 8px;
	font-size: 0.8em; /*iconサイズ調整*/
}
.kasen {
	padding-top: 20px;
	margin: 20px 0;
  border-top: 2px dotted #fceee1;
	font-size: 23px;

}

/*===============================================
 　お問い合わせ　question.html
=================================================*/
table {
  width: 100%;
  margin: 20px 0 0;

	border-collapse: collapse;
  border-spacing: 0;
}
th {
	width: 30%;
	text-align: center;
	font-size: 15px;
	color: #4b4b4b;
  vertical-align: middle;
  background: #fceee1;
	border: 1px solid #f9e1c9;
}
 td {
	border: 1px solid #f9e1c9;
  padding: 25px 20px;
	font-size: 13px;
	color: #878787;
 }


 input {
	 color: #4b4b4b;
	 font-size: 14px;
 }

 .input_s {
	padding: 10px;
	border: 1px solid #ccc;
	width: 160px;
	margin-bottom: 10px;
}
 .input_m {
  padding: 10px;
	border: 1px solid #ccc;
  width: 220px;
}
.input_l {
	padding: 10px;
	border: 1px solid #ccc;
	width: 92%;
}
.textarea {
	padding: 10px;
	border: 1px solid #ccc;
	width: 92%;
	height: 130px;
}

#form_btn_wrap {
	text-align: center;
	margin: 30px 0;
}


#form_btn1 {
	display: inline-block;
	text-align: center;
	letter-spacing: 0.3em;
	line-height: 1;
	background: #b41f02;
	padding: 0 20px;
	height: 46px;
	border-radius: 10px;
	border-bottom: solid 4px #580f01;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	margin: 0 10px 0 0;
	min-width: 230px;
	transition: all 0.25s;
}

#form_btn1:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.ad {
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 2px;
	color: #ccc;
	font-weight: lighter;

}
.ad:link {
	border-bottom: none;
}

.ad:hover {
	color: #ccc;
	border-bottom: none;
	transition: all 0.2s ease 0s;
}
.ad:active {
	color: #ccc;
	border-bottom: none;
}

/*===============================================
 　刊行物　tabunnet.html
=================================================*/
#tabunnet .large:before {
	content: '■';
	color: #fceee1;
	margin-right: 8px;
	font-size: 0.8em; /*iconサイズ調整*/
	border: none;
}



/*===============================================
 仮部分（index 完成後に流用）
=================================================*/
	.header {
		background-color: #ffff;
		width: 100vw;
		height: 75px;
		position: fixed;
		top: 0;
	}

	.bn-cta {
		width: 270px;
		height: 53px;
		position: absolute;
		top: 75px;
		right: 14.6vw;
		background-color: #f0950c;
	}
	.bn-cta p {
	color: white;
	font-size: 13px;
	text-align: center;
	margin: 0 auto;
	}


	.footer {
		background-color: #f0950c;
		height: 500px;
	}












/*===============================================
PC : 画面の横幅が769px以上
=================================================*/
@media screen and (min-width: 768px){
	.sp-only {
		display: none;
	}
}





/*ここからメディアクエリで各デバイスサイズに書き分けます
CSSは上から下に継承されるので、変化させたいところだけ書けばOK*/



/*================================================
Tablet : 画面の横幅が768pxまで
==================================================*/
@media screen and (max-width: 768px){

}


/*================================================
Smartphone :  画面の横幅が640pxまで
=================================================*/
@media screen and (max-width:640px){
	h2 {
		font-size: 25px;
	}
	h3 {
		font-size: 23px;
		padding: 10px 0 10px 0;
    margin-left: -8px;
	}
	h3:before {
		margin-right: 3px;
		font-size: 1.2em;
	}

	h4 {
		 font-size: 20px;
	}
	p {
		font-size: 16px;
	}
	#main {
		width: 90.5vw;
	}
	#m-ttl {
		padding-top: 27px;
		padding-left: 7vw;
	}
	.bn-cta {
	 right: 0;
	 top: 95px;
	 width: 45vw;
 }
 	.bn-cta p {
		font-size: 10px;
	}

	table,tbody,tr,td,th {
		display: block;
		width: 100%;
	}
	th {
		padding-left: 10px;
		text-align: left;
	}
